# -----------------------------
# Python / Virtual env
# -----------------------------
.venv/
venv/
__pycache__/
*.pyc

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# MLflow
# -----------------------------
mlruns/

# -----------------------------
# OS junk
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# DATA (ignore by default)
# -----------------------------
data/**
*.csv

# -----------------------------
# ALLOW small, required files
# -----------------------------
!data/processed/
!data/processed/.gitkeep
!data/processed/train_baseline_sample.csv
!data/processed/shap_background.csv

# If you want to keep SQLite out of git:
data/processed/*.db
